@font-face {
    font-family: "Raleway-medium";
    src: url("/Police/static/Raleway-Medium.ttf") format("truetype");
}
 /* Body */
body {
    font-family: "Raleway-medium";
}

strong {
    font-weight: bold;
}

/* étoiles */
.greystars{
    color: #F2F2F2;
}

/* icone bleu */ 
.blue{
    color: #0065FC;
}

/* Nav */
nav {
    display: flex;
    justify-content: space-between;
}

#navbar-right-element {
    display: flex;
}

/* Section 1 */ 

/* Section 2 */ 

#section2 {
    float: right;
}

#section2-titre {
    display: flex;
}

#section2-global {
    display: flex;
    flex-direction: column;
}

.fa-chart-line {
    margin: auto;
}

/* Section 3 */

#section3-global {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}