@font-face {
    font-family: "Raleway-medium";
    src: url("/Police/static/Raleway.ttf") format("truetype");
}
 /* Body */
body {
    font-family: "Raleway-medium";
    margin: 0;
    padding: 0;
}

#section1, #section2and3, #section4 {
    margin: 0px 50px 0px 50px;
}

strong {
    font-weight: bold;
}

#section2, #section3, #footer {
    background-color: #F2F2F2;
}

a {
    text-decoration: none;
}

/* étoiles */
.greystars{
    color: #F2F2F2;
}

/* icone bleu */ 
.blue{
    color: #0065FC;
}

/* Nav */
nav {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 0 0;
    
}

nav img {
    height: 50px;
    margin: 0 30px 0 40px;
}

#navbar-right-element{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: flex-end;
    margin-top: 18px;
}

#navbar-right-element a {
    margin-right: 50px;
}

#navbar-right-element a:hover {
    color: #0065FC;
}

.navbar-button {
    color: black;
}

#navbar-login {
    font-weight: bold;
    color: #0065FC;
}

/* Section 1 */ 

#section1 {
    margin-bottom: 30px;
}

/* Barre de recherche */

.fa-map-marker-alt {
    background-color: #F2F2F2;
    padding: 8px 10px 5px 10px;
    border-radius: 12px 0 0 12px;
}

#section1-recherche {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.fa-map-marker-alt {
    text-align: center;
    padding: 12px 12px 11px 12px;
}

#section1-search {
    height: 40px;
    border: 1px solid #F2F2F2;
}

#section1-recherche button {
    border-radius: 0 12px 12px 0;
    color: white;
    background-color: #0065FC;
    border: none;
    font-family: "Raleway-medium";
    outline: none;
    font-weight: bold;
    width: 115px;
    height: 40px;
    transition-duration: 0.4s;
}

#section1-recherche button:hover {
    background-color: white;
    color: #0065FC;
    border: 2px solid #0065FC;
    box-shadow: rgb(196, 196, 196) 0px 0px 6px;
}

/* Filtre avec icones */ 

#section1-filtres {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 30px 0 30px 0px;
}

#section1-filtres-titre {
    padding: 0 30px 0 0;
}

#section1-filtres button {
    display: flex;
    align-items: center;
    background-color: white;
    border: 2px lightgrey solid;
    height: 45px;
    border-radius: 50px;
    padding-right: 15px;
    white-space: nowrap;
    transition: transform 0.2s;
}

#section1-filtres button:hover {
    background-color: #DEEBFF;
    border: 2px  #DEEBFF solid;
    outline: none;
}

#section1-filtres button:focus {
    outline: none;
}

.section1-filtres-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 950px;
}

.section1-filtres-bar p {
    padding-left: 10px;
}

.circle-icon-filter {
    position: relative;
    background-color: #DEEBFF;
    border-radius: 50%;
    height: 44px;
    width: 44px;
    margin-left: -10px;
}

.circle-icon-filter i {
    position: absolute;
    color: #0065FC;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Description */
#section1-description i {
    position: relative;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    border: 2px solid lightgrey;
    text-align: center;
    font-size: 11px;
}

.fa-info {
    position: absolute;
    color: #0065FC;
    transform: translate(-8%, -10%);
    padding: 3px;
}



/* Section 2 & 3 */ 

#section2and3 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#section2, #section3 {
    border-radius: 30px;
    margin-bottom: 30px;
}

/* Section 2 */ 

#section2 {
    padding: 15px 15px 15px 15px;
}

#section2-titre {
    display: flex;
    justify-content: flex-end;
    justify-content: space-between;
    padding-left: 5px;
}

.fa-chart-line{
    font-size: 30px;
    margin-bottom: auto;
    margin-top: auto;
}


#section2-1, #section2-2, #section2-3 {
    display: flex;
    background-color: white;
    border-radius: 30px;
    margin: 5px 5px 5px 5px;
    box-shadow: 0px 0px 6px #c4c4c4;
}

#section2-global {
    display: flex;
    flex-direction: column;
}

#section2-global img {
    object-fit: cover;
    object-position: 50% 0%;
    width: 160px;
    height: 180px;
    border-radius: 30px 0px 0px 30px;
    padding: 6px;
}

#section2-1texte, #section2-2texte, #section2-3texte {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
} 

#section2 .fa-star {
    padding-bottom: 25px;
}


/* Section 3 */

#section3 {
    padding: 15px 15px 15px 15px;
    
}

#section3-titre {
    padding-left: 30px;
}

#section3-global {
    display: flex;
    flex-direction: column ;
    flex-wrap: wrap;
}

#section3-global img {
    border-radius: 30px 30px 0px 0px;
    object-fit: cover;
    object-position: 50% 50%;
    width: 330px;
    height: 155px;
    padding: 6px;
}

#section3-global p {
    margin-block-start: auto;
    margin-block-end: auto;
    margin-bottom: 10px;
}

#section3-global1, #section3-global2 {
    display: flex;
    flex-wrap: wrap;
}

#section3-1, #section3-2, #section3-3, #section3-4, #section3-5, #section3-6 {
    background-color: white;
    border-radius: 30px;
    margin: 5px 30px 30px 30px;
    box-shadow: 0px 0px 6px #c4c4c4;
}

#section3-1texte, #section3-2texte, #section3-3texte, #section3-4texte, #section3-5texte, #section3-6texte {
    padding-left: 15px;
}

#section3 .fa-star {
    padding-bottom: 10px;
}

#section3-afficher {
    padding-left: 30px;
}

/* Section 4 */ 

#section4 {
    padding: 30px 0 30px 0;
}

#section4-global {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#section4-2global, #section4-5global {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#section4-global img {
    object-fit: cover;
    object-position: 50% 30%;
    width: 400px;
    border-radius: 30px 30px 0px 0px;
}

#section4-1img img {
    object-position: 50% 0%;
    height: 500px;
}

#section4-2img img {
    object-position: 50% 40%;
    height: 250px;
}

#section4-3img img {
    height: 150px;
}

#section4-4img img {
    height: 500px;
}

#section4-5img img, #section4-6img img {
    height: 200px;
}

#section4-1, #section4-2, #section4-3, #section4-4, #section4-5, #section4-6 {
    background-color: white;
    border-radius: 30px;
    box-shadow: 0px 0px 6px #c4c4c4;
    margin-bottom: 30px;
}

#section4-global p {
    padding-left: 15px;
}


/* Footer */

#footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 20px 0 20px;
}

#footer1, #footer2, #footer3 {
    display: flex;
    flex-direction: column;
}